.brand{
    font-family: "Oooh Baby", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    margin-right: 2rem;
}

.navbar-toggler{
    border: transparent;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(./images/flowers.jpg);
    background-position: center; 
    background-size: cover;
}

h1{
    font-family: "Oooh Baby", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4REM;
    margin-bottom: 2rem;

}

.info{
    display: flex;
    height: 50vh;
    gap: 1rem;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.info>div{
    flex: 1;
    height: 100%;
    align-content: center;
    padding: 2.5rem;
    background-color:#f5f4f1;
}

.info>div>span{
    font-family:  "Oooh Baby", cursive;
    font-size: 2rem;
}
